.category {
  height: 270px;
  width: 260px; /* Reduced the width to make the cards smaller */
  margin: 10px; /* Added margin to create spacing between the cards */
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px; /* Optional: adds a rounded corner for a cleaner look */
}

.category img {
  width: 100%;
  object-fit: contain;
  max-height: 200px; /* Reduced height for the images */
  padding: 0 10px;
}

.category a {
  text-decoration: none;
  color: rgb(35, 35, 35);
}

.category h2 {
  padding: 5px 15px;
  font-size: 18px; /* Increased font size for better visibility */
}

.category p {
  padding: 5px 15px;
  font-size: 14px;
  font-weight: bold;
  color: rgb(9, 132, 209);
}

.category_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columns layout */
  gap: 20px; /* Adding spacing between grid items */
  justify-items: center; /* Centers the grid items */
  margin-top: 40px; /* Added margin on top to give space above the section */
}
